body { 
     background-image: radial-gradient(circle, #a8a8a8, #a8a8a8, #a8a8a8, #a8a8a8, #a8a8a8);
}

.products {
    border: solid white 1px;
    float: right;
    display: inline-block;
}
.btns {
    font-size: 1vw;
}

.drinks {
     border: solid white 1px;
    float: right;
}

.candy {
     border: solid white 1px;
    float: right;
}

.chips {
     border: solid white 1px;
    float: right;
}

.ic {
     border: solid white 1px;
    float: right;
}

td {
    border: 1px white solid;
    display: inline-block;
}
